* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}
.header {
  color: green;
  min-height: 100vh;
  width: 100%;
  background-image: url(./istockphoto-954492390-1024x1024.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
.cio {
  width: 40px;
  height: 40px;
}
nav {
  display: flex;
  padding: 3% 6%;
  justify-content: space-between;
  text-align: center;
}

.nav-links {
  position: absolute;
  background: red;
  height: 100vh;
  right: -200px;
  top: 0;
  flex: 1;
  text-align: right;
  z-index: 2;
  transition: 1s;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 7px 11px;
  position: relative;
}
.nav-links ul li a {
  color: black;
  text-decoration: none;
  font-size: 20px;
}
.nav-links ul li ::after {
  content: "";
  width: 0%;
  height: 5px;
  background: red;
  display: block;
  margin: auto;
  transition: 5s;
}
.nav-links ul li a:hover::after {
  width: 100%;
  background-color: brown;
}
.nav-links ul li a:hover {
  background-color: blue;
  transition: 5s;
}
.text-box {
  width: 90%;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.text-box h1 {
  font-size: 40px;
}
.text-box p {
  margin: 10px 0 40px;
  font-size: 20px;
  color: black;
}
nav .fa {
  display: none;
}
.hello-btn {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: black;
  border: 2px solid red;
  padding: 5px 10px;
  font-size: 18px;
  position: relative;
}
.hello-btn:hover {
  color: blue;
  transition: 4s;
}
@media (max-width: 700px) {
  .text-box h1 {
    font-size: 20px;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: absolute;
    background: chocolate;
    height: 50vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  nav .fa {
    display: block;
    color: brown;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links ul {
    padding: 30px;
  }
}
/*Course  */
.Course {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
h1 {
  font-size: 36px;
  font-weight: 600;
}
p {
  color: black;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}
.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.course-col {
  flex-basis: 31%;
  background: blue;
  border-radius: 4px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 4s;
}
h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}
.course-col:hover {
  box-shadow: 0 0 200px 0 red;
}
@media (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}
/*---------------campus-----*/
.campus {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}
.campus-col {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}
.campus-col img {
  width: 100%;
  display: block;
}
.layer {
  background-color: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 6s;
}
.layer:hover {
  background: red;
}
.layer h3 {
  width: 100%;
  font-weight: 500;
  color: white;
  font-size: larger;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.3s;
}
.layer:hover h3 {
  bottom: 49%;
  opacity: 1;
  color: #000;
}
/*-----------------facility--------*/
.facilities {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
.facilities-col {
  flex-basis: 30%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
}
.facilities-col img {
  width: 100%;
  border-radius: 10px;
}
.facilities-col p {
  padding: 0;
}
.facilities-col h3 {
  margin-top: 19px;
  margin-bottom: 17px;
  text-align: right;
}
/*testmonials----*/
.testmonials {
  width: 80%;
  margin: auto;
  padding-top: 100px;
  text-align: center;
}
.testmonial-col {
  flex-basis: 40%;
  border-radius: 20px;
  margin-bottom: 5px;
  text-align: left;
  background: green;
  padding: 30px;
  cursor: pointer;
  display: flex;
}
.testmonial-col img {
  height: 40px;
  margin-left: 5px;
  margin-right: 30px;
  border-radius: 50%;
}
.testmonial-col p {
  padding: 0;
  color: aliceblue;
}
.testmonial-col h3 {
  margin-top: 20px;
  color: red;
  text-align: left;
}
.testmonial-col .fa {
  color: #000;
}
@media (max-width: 700px) {
  .testmonial-col img {
    margin-left: 0px;
    margin-right: 15px;
  }
}
/*-----call to action-----*/
.act {
  margin: 100px auto;
  width: 80%;
  background-image: linear-gradient(rgba(0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./istockphoto-1056347550-1024x1024.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}
.act h1 {
  color: red;
  margin-bottom: 40px;
  padding: 0;
}
@media (max-width: 700px) {
  .act h1 {
    font-size: 24px;
  }
}
/*----------------------contact----------------------------*/
.location {
  width: 80%;
  margin: auto;
  padding: 90px;
  text-align: center;
}
.location iframe {
  width: 100%;
}
.location h5 {
  text-align: center;
  font-weight: 900;
  font-size: x-large;
}
.contact-us {
  width: 80%;
  margin: auto;
}
.contact-col {
  flex-basis: 48%;
  margin-bottom: 30px;
}
.contact-col div {
  display: flex;
  text-align: center;
  margin-bottom: 40px;
}
.contact-col div .fa {
  font-size: 28px;
  color: red;
  margin: 10px;
  transition: 4s;
}
.contact-col div .fa:hover {
  color: goldenrod;
}
.contact-col div p {
  padding: 0;
  color: green;
}
.contact-col div h5 {
  font-size: larger;
  margin-bottom: 5px;
  color: blue;
}
.contact-col input,
.contact-col textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  outline: none;
  border: 4px solid red;
  box-sizing: border-box;
}
/*---------footer-----*/
.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
  background-color: greenyellow;
}
.footer h4 {
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
  transition: 5s;
}
.footer h4:hover {
  color: blue;
}
.icons .fa {
  color: red;
  margin: 0 18px;
  cursor: pointer;
  padding: 18px 0;
  transition: 6s;
}
.icons .fa:hover {
  color: black;
}
.fa-heart-o {
  color: aqua;
}
